<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<%- include('../partials/emailScript.ejs')%>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="ZwOWGaEF"></script>
<meta property="og:title" content="The Bad Ass Ladies Club Podcast: Official Website">
	<meta property="og:description" content="Now Casting: Lawrie and Jessica">
<link rel="stylesheet" type="text/css" href="css/bad_Ass.css">

	<title>This Club is Bad Ass</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="Bad Ass Ladies Club" content="images/logoMain.png">
	<link rel="icon" href="images/logoMain.png" sizes="16x16" type="image/png">
<style>
@font-face{
	font-family: "Bebas";
	src:url("fonts/Raleway-Thin.ttf");
}
@font-face{
	font-family: "Lemon";
	src:url("fonts/Lemon Tuesday.otf");
}
</style>
</head>
<body>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5217098074480813"
     crossorigin="anonymous"></script>
  <%- include('../partials/backgrounds.ejs')%>

  </div>
<img src="images/headerImage.png"  alt="A head Banner of our Ladies Logo and the hosts of the podcast." id="headerImage">
  <%- include('../partials/menu.ejs')%>
  <%- include('../partials/social.ejs')%>
<!--%- include('../partials/intro.ejs')%-->
<div class="splashBox">
	
<%- include('../partials/indexPodcast.ejs')%>
</div>
<section id="merchWindow">
<%- include('../partials/paypal.ejs')%>
</section>
<div class="deskBacker">

<script type="text/javascript" src="jsFiles/bad_Ass.js"></script>
<script type="text/javascript" src="jsFiles/fbPop.js"></script>
<script type="text/javascript" src="jsFiles/blcMenu.js"></script>



</body>
</html>
